extends layout/home

block style_content
    link(rel="stylesheet", href="/stylesheets/blog.css")

block blogs
    div(class="blog-container")
        img(class="blog-img" src="/images/home.jpg", alt="blog image" width="600" height="400")
        h3(class="blog-title") #{blogtitle} 
        p #{blogdescription} 
    