extends layout/home

block style_content
    link(rel="stylesheet", href="/stylesheets/blog.css")

block blog
    div(class="blog-wrapper")
        if error_message
                h2(class="error-message") #{error_message} 
        if success_message
                h2(class="success_message") #{success_message}
        form(action="/blog", method="POST")
            div()
                label(for="blogtitle") Blog Title  
                input(class="blog-input" type="text" id="blogtitle" placeholder="Enter blog title" name="blogtitle") 
            div()
                label(for="blogphoto") Blog Photo
                input(class="blog-input" type="text" id="blogphoto"  placeholder="Enter blog photo" name="blogphoto") 
            div()
                label(for="blogdescription") Blog description
                textarea(clos="30" rows="10" class="blog-input" id="blogdescription"  placeholder="Enter blog discription" name="blogdescription") 
            button(class="submit-btn" type="submit") Add Post