doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="icon", href="/images/download.png")
    block style
  body
    div(class="container")
      block content
