extends layout

block style
    link(rel="stylesheet", href="/stylesheets/navbor.css")

block content
    div(class="div-container")
        h1(class="nav-h1") Blog
        div(class="nav-div") 
            nav(class="nav-navbor")
                ul(class="nav-navbor__ul")
                    li(class="nav-navbor__ul-li") 
                        a(class="nav-navbor__ul-a" href="/home") Home
                    li(class="nav-navbor__ul-li") 
                        a(class="nav-navbor__ul-a" href="/blog") Blog
            div(class="nav-div") 
                a(class="nav-navbor__ul-a login-link" href="/login") Login
                a(class="nav-navbor__ul-a register-link" href="/register") Register
