extends layout/home

block style_content
    link(rel="stylesheet", href="/stylesheets/register.css")

block register
    div(class="register-page")
        if error_message
            h2(class="error-message") #{error_message} 
        form(action="/users/register" method="POST")
            div(class="")
                label(for="username") UserName
                input(class="inputs" type="text" id="username" name="username" )  
            div(class="")
                label(for="email") Email
                input(class="inputs" type="email" id="email" name="email" )  
            div(class="")
                label(for="password") Password
                input(class="inputs" type="password" id="password" name="password" ) 
            button(class="submit-btn" type="submit") Register
