doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/stylesheets/main.css")
        block style_content
    body 
        div(class="site-nav")
            div 
                h2 Logo
            ul(class="site-nav_ul")
                li 
                    a(href="/" class="site-nav-link") Home
                li 
                    a(href="/blog" class="site-nav-link") Blog
                li 
                    a(href="/blog/new" class="site-nav-link") BlogWrite
                li 
                    a(href="/users/register" class="site-nav-link") Register
                li 
                    a(href="/users/login" class="site-nav-link") Login
                li 
                    a(href="/users/profile" class="site-nav-link") Profile
        div(class="site-wrapper")
            block blogs
            block homePage
            block register
            block login
            block blog
            block profile
        block scripts